body {
  margin: 0;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 75px 1fr 50px;

  gap: 0.5em;

  grid-template-areas:
    "header"
    "main"
    "footer";
}

header,
main,
aside,
footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  background-color: red;
  /* grid-row-start: 3;
    grid-column: span 2; */
  grid-area: footer;
}

header {
  background-color: blue;

  /* grid-column-start: 1;
    grid-column-end: 3; */

  /* grid-column: 1 / 3; */

  /* grid-column: 1 / span 2; */

  /* grid-row-start: 1; */

  grid-area: header;
}

main {
  background-color: darkorange;
  /* grid-column-start: 1;
    grid-row-start: 2; */
  grid-area: main;
}

aside {
  background-color: green;
  grid-area: aside;
  display: none;
}

@media screen and (min-width: 768px) {
  body {
    grid-template-columns: 3fr minmax(200px, 1fr);

    grid-template-areas:
      "header header"
      "main aside"
      "footer footer";
  }

  aside {
    display: block;
  }
}
